extends ../layout/index
block contenido
    main.container.mt-5
        h1.text-center.mb-5 #{pagina}



        .row
            .col-md-12

                include ../layout/partials/testimoniales

            .col-md-12
                h2.text-center Agrega un Testimonial
                if(errores)
                    each error in errores
                         .alert.alert-danger.text-center=error.mensaje
                .row.justify-content-center
                    .col-md-8
                        form(action="/testimoniales",  method="POST")

                            .form-group
                                label(f or="nombre") Nombre
                                input(id="nombre", class="form-control", type="text", placeholder="Coloca tu nombre", name="nombre" value=nombre)
                            
                            .form-group
                                label(for="correo") Correo Electronico
                                input(type="email", id="correo", class="form-control", placeholder="Digita tu correo electrónico", name="correo" value=correo)

                            .form-group
                                label(for="mensaje") Mensaje
                                textarea#mensaje(name="mensaje", class="form-control", placeholder="Digita tu mensaje",  rows="3")=mensaje

                            input.btn.btn-success.btn-block(type="submit" value="Agregar")

                            